.postlist-container {
    background-color: white; 
    height: 10vh; 
}

.sidebar {
    width: 25vw; 
    height: 100vh; 
    /* border: 2px solid black;  */
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);    
}